.brand-logo {
    margin-left: -10%;
  }
  .brand-text {
      margin-top: 2vh;
    padding-left: 10%;
  }
  
  .link {
    color: inherit;
    size: 20em;
    text-decoration: none;
    padding: 15px;
  }
  
  .right {
    margin-left: 70%;
  }